@font-face {
  font-family: "Roboto";
  src: url("./fonts/roboto/Roboto.ttf");
}

@font-face {
  font-family: "Roboto Italic";
  src: url("./fonts/roboto/Roboto-Italic.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("./fonts/raleway/Raleway.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}

#nav {
  height: 10vh;
  width: 95vw;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  position: fixed;
  box-shadow: 0px 2px 10px -5px rgba(0, 0, 0, 0.75);
}

#nav img {
  width: 100%;
  height: auto;
}

#logo {
  max-width: 100px;
}

#nav-title {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: bolder;
  font-size: large;
}

#title-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#nav > #link-section {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

#nav > #link-section a {
  text-decoration: none;
  color: black;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
}

/* Underline Animation, check references*/
#nav > #link-section a {
  background: linear-gradient(currentColor 0 0) bottom left/
    var(--underline-width, 0%) 0.15em no-repeat;
  color: black;
  display: inline-block;
  padding: 0 0.5em 0.2em;
  text-decoration: none;
  transition: background-size 0.5s, font-weight 0.4s;
}

#nav > #link-section a:hover {
  --underline-width: 100%;
  font-weight: 600;
}

.headerText {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.5em;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 800;
}

#projectSection,
#skillSection,
#biographySection {
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
}

#profileSection {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  padding-top: 5rem;
  height: 85vh;
  align-items: center;
}

#profileSection > #profile-photo {
  flex-grow: 1;
}

#profileSection > #profile-details {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
}

#profileSection > #profile-details > .biography-details {
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Raleway", Arial, sans-serif;
}

#profileSection > #profile-details > #ref-logos {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

#profileSection > #profile-details > #ref-logos img {
  width: 100%;
  height: auto;
  max-width: 50px;
}

#profileSection > #profile-details > #ref-logos a {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  text-decoration: none;
  font-family: "Raleway", Arial, sans-serif;
  color: black;
  font-weight: 400;
  transition: font-weight 0.5s;
}

#profileSection > #profile-details > #ref-logos a:hover {
  font-weight: 700;
}

#profileSection > #profile-photo img {
  margin-left: 10vw;
  border-radius: 50%;
  width: 100%;
  height: auto;
  max-width: 400px;
}

#profileSection > #profile-details > #type-animation {
  margin: 0;
  font-size: 5em;
  font-weight: 700;
  font-family: "Roboto", Arial, sans-serif;
  border-right: 5px solid;
  width: 410px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2.1s, cursor 0.4s step-end infinite alternate;
}

#profileSection > #profile-details > .profile-details-text {
  font-size: 2em;
  font-weight: 400;
  font-family: "Raleway", Arial, sans-serif;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

#projectSection {
  padding-top: 10vh;
  flex-direction: column;
}

.previousProjects {
  width: 75%;
  margin-top: 0.2rem;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2.5rem;
}

.previousProjects img {
  width: 100%;
  height: auto;
  max-width: 500px;
}

.project {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1.5em;
}

.project-details {
  display: flex;
  flex-direction: column;
  text-align: justify;
  width: 40%;
}

.project-details > .project-title {
  font-size: 1.5em;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
}

.project-details > .project-desc {
  font-size: 1em;
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400;
}

.project-details > .project-link {
  height: 20px;
  width: 50px;
  padding: 0.5em;
  background-color: black;
  border-radius: 1.5em;
  text-align: center;
}

.project-details > .project-link:hover {
  background-color: rgb(31, 31, 31);
}

.project-details > .project-link a {
  text-decoration: none;
  color: white;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 600;
}

#skillSection {
  padding-top: 10vh;
  gap: 2em;
}

.skills-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
  flex-wrap: wrap;
}

.skills-list > .skill img {
  width: 100%;
  height: auto;
  max-width: 200px;
}

#footer {
  margin-top: 5vh;
}

#footer > .footerLayout {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.footerLayout > img {
  width: 10vw;
  height: 10vw;
}
